---
import { Icon } from "astro-icon/components";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import NextTalkCallout from "../../components/NextTalkCallout.astro";
import Section from "../../components/Section.astro";
import FeaturedTalksCallout from "../../components/FeaturedTalksCalllout.astro";
import RecentTalks from "../../components/RecentTalks.astro";
import HLineText from "../../components/HLineText.astro";
import Testimonials from "../../components/Testimonials.astro";
import SpeakerFormCallout from "../../components/SpeakerFormCallout.astro";
import PageHeader from "@components/PageHeader.astro";
import HeroSection from "@components/HeroSection.astro";
import TopicsSection from "@components/speaking/TopicsSection.astro";
import FeaturedVideosSection from "@components/speaking/FeaturedVideosSection.astro";

export const prerender = true;

const testimonials = await getCollection("testimonial");
---

<BaseLayout>
  <HeroSection title="Speaking" subtitle="International keynote speaker." />
  <!-- <NextTalkCallout /> -->
  <TopicsSection />
  <FeaturedVideosSection />
  <FeaturedTalksCallout />
  <div class="pt-20 md:pt-40">
    <Section classStr="mb-0 pb-0">
      <div class="py-10 md:py-16">
        <HLineText text="More" />
      </div>
      <RecentTalks />
    </Section>
  </div>

  <Testimonials />
  <div class="my-20">
    <HLineText />
  </div>
  <PageHeader title="Invite me" subtitle="Have me speak at your event" />
  <div id="speakerForm">
    <SpeakerFormCallout />
  </div>

  <!-- <section class="my-24" id="speakerForm">
    <div class="grid lg:grid-cols-2 gap-10 items-center">
      <div>
        <h2 class="text-6xl mb-10">Want Me To Speak At Your Event?</h2>
        <Image
          src={speaking}
          alt="James speaking at All Things Open conference"
        />
      </div>
    </div>
  </section> -->
</BaseLayout>
