@import "variables";

#promotionalBanner {
  height: 5rem;
  position: fixed;
  background: var(--brand);
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2rem;
  border-bottom: 4px solid var(--brand)-dark;
  z-index: 1000;
  text-align: center;

  * {
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  #promotionalBanner {
    left: 0;
    height: 8rem;
  }
}
