@import "variables";

#promotionalBanner {
  height: 50px;
  position: fixed;
  background: $secondary-light;
  display: flex;
  align-items: center;
  top: 0;
  left: $navbar-width;
  right: 0;
  padding: 0 2rem;
  border-bottom: 4px solid $secondary;
  z-index: 1000;

  * {
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  #promotionalBanner {
    left: 0;
    height: 80px;
  }
}
