@import "variables";

.blurb {
  border-bottom: 3px solid var(--light-grey);
  border-top: 3px solid var(--light-grey);
  margin: 4rem 0;
  padding: 2rem 0;
  text-align: center;

  .blurb-header {
    margin-top: 0;
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
}
