.btn,
a.btn {
  padding: 1.25rem 3rem;
  background-color: var(--brand);
  color: var(--white);
  font-size: 1.6rem;
  width: 200px;
  border: 2px solid var(--brand);
  transition: background-color 250ms;
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &:visited {
    color: var(--white);
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--brand-dark);
    text-decoration: none;
    transform: translateY(-1px);
  }

  &:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    background-color: var(--brand);

    &:hover {
      color: var(--white);
    }
  }
}

.btn-lg {
  font-size: 1.8rem;
}

.linkBtn:hover {
}
