@import "variables";

.btn {
  padding: 1rem 3rem;
  border-radius: 5px;
  background-color: $primary;
  color: $off-white;
  font-size: 1.4rem;
}

.btn:hover {
  cursor: pointer;
  background-color: $primary-light;
}

.btn:disabled {
  opacity: 0.25;
  cursor: not-allowed;
  background-color: $primary;
}

.btn-lg {
  font-size: 1.8rem;
}
