@import "variables";

.btn {
  padding: 1rem 3rem;
  background-color: $primary;
  color: $off-white;
  font-size: 1.6rem;
  width: 200px;
  border: 2px solid $primary;
  transition: background-color 250ms;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  border-color: $primary;
  color: $primary;
}

.btn:disabled {
  opacity: 0.25;
  cursor: not-allowed;
  background-color: $primary;
}

.btn-lg {
  font-size: 1.8rem;
}
