@import "variables";

.card {
  margin-top: 2rem;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 150px;
  align-items: center;
  grid-column-gap: 20px;
  border-bottom: 2px solid $light-grey;

  &:first-of-type {
    margin-top: 4rem;
  }

  .card--title {
    margin: 0px;
    font-weight: 700;
  }

  .card--date > * {
    margin: 0;
  }

  .card--description {
    margin-top: 5px;
    font-size: 1.4rem;
  }
}

@media (max-width: 786px) {
  .card {
    grid-template-columns: 1fr;

    .card--description {
      margin-top: 10px;
    }
  }
}
