@import "variables";

.card {
  margin-top: 2rem;
  padding: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
  text-decoration: none;
  transition: transform 350ms;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    transform: translateY(-2px);
    border-bottom: none;
  }

  &:first-of-type {
    margin-top: 4rem;
  }

  .card--img {
    width: 300px;
  }

  .card--title,
  .card--title > a {
    margin: 0px;
    font-weight: 700;
    font-size: 2rem;
    color: var(--black);
    text-decoration: none;
  }

  .card--date {
    margin: 0;
  }

  .card--description {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

@media (max-width: 786px) {
  .card {
    grid-template-columns: 1fr;
    padding: 0;
    margin-bottom: 4rem;

    .card--description {
      margin-top: 10px;
    }

    .card--img {
      width: 100%;
    }
  }
}
