@import "variables";

.card-list {
  
}

.card {
  background: white;
  border: 1px solid darken($color: $off-white, $amount: 20);
  border-radius: 5px;
  display: flex;
  position: relative;
  transition: 100ms;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.card:hover {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

.card-content {
  padding: 2rem;
  width: 60%;
}

.card-overlay {
  position: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card-image {
    order: -1;
  }

  .card > * {
    width: 100%;
  }

  .card-image > img {
    width: 100%;
  }
}
