@import "variables";

footer {
  background-color: $off-white;
}

footer svg {
  margin: 0 1rem;
}

footer svg:hover {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}

.footer-content {
  max-width: 900px;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-content > * {
  align-items: center;
  padding: 1rem;
  text-align: center;
}
