form.full-width {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: rgb(238, 238, 238);
  border: none;
}

textarea {
  resize: none;
}
