@import "variables";

form {
  margin: 20px 0;
}

form.full-width {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: rgb(238, 238, 238);
  border: none;

  &.error {
    border: 2px solid $error;
  }
}

select {
  appearance: none;
  display: inline-block;
  position: relative;
  &:after {
    content: "<>";
    font: 11px "Consolas", monospace;
    color: $light-grey;
    transform: rotate(90deg);
    right: 8px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
  }
}

textarea {
  resize: none;
}

p.error {
  color: $error;
  text-align: left;
  margin-top: -1.5rem;
}
