@import "variables";

.form {
  margin: 4rem 0;
}

input,
textarea,
select {
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 100px;

  &.error {
    border: 2px solid $error;
  }
}

.label {
  font-size: 1.6rem;
}

select {
  appearance: none;
  display: inline-block;
  position: relative;
  &:after {
    content: "<>";
    font: 11px "Consolas", monospace;
    color: var(--light-grey);
    transform: rotate(90deg);
    right: 8px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
  }
}

textarea {
  resize: none;
  border-radius: 20px;
}

p.error {
  color: $error;
  text-align: left;
}
