@import "variables";

.hero-items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.hero-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 2rem;
}

.hero-item-title {
  text-align: center;
}

.hero-item-subtitle {
  text-align: center;
  font-weight: 300;
  margin-top: 0;
  color: lighten($black, 20);
}

.hero-title {
  text-align: center;
  font-weight: 300;
}

.title-underline {
  border: 1px solid $light-grey;
  width: 5rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .hero-items {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }

  .hero-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 0rem;
    width: 100%;
  }

  .title-underline {
    margin-bottom: 0.5rem;
  }
}
