@import "reset";
@import "utilities";
@import "button";
@import "forms";
@import "flexbox";
@import "section";
@import "text";

:root {
  --youtube-color: #ff0000;
  --twitch-color: #644398;
  --facebook-color: #4968ad;
  --linkedin-color: #3077b0;
  --twitter-color: #49a1eb;
  --brand: #de5254;
  --brand-dark: #d24b4e;
  --black: #212529;
  --white: #f9f9f9;
  --light-grey: #eaeaea;
}
