@import "../sass/variables.scss";

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;

  .nav-brand {
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 2rem;
    color: var(--black);
    border-bottom: none;
    &:hover {
      color: var(--black);
      border-bottom: none;
    }
  }

  .nav-subtitle {
    font-weight: 200;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  .nav-title {
    margin-bottom: 0;
  }

  .nav-items {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: 2.5rem;
    padding-inline-start: 0;
  }

  .nav-item {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black);
    padding-bottom: 4px;
    border: none;
    text-transform: uppercase;

    &.active:after {
      content: "";
      display: block;
      width: 100%;
      border-bottom: 4px solid var(--brand);
    }
    &:hover {
      color: var(--black);
      &:after {
        width: 100%;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 0;
      border-bottom: 4px solid var(--brand);
      transition: 0.25s;
    }
  }
}

@media (max-width: 786px) {
  .nav {
    padding: 0;
    .nav-items {
      flex-wrap: wrap;
      display: flex;
      grid-gap: 0rem;
      justify-content: center;
      .nav-item {
        margin: 0.5rem 1rem;
      }
    }
  }
}

@media (max-width: 460px) {
  .nav {
    .nav-title {
      margin-bottom: 5px;
      line-height: 4rem;
    }

    .nav-brand {
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
    .nav-subtitle {
      font-size: 2rem;
    }
  }
}
