@import "../sass/variables.scss";

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 10px;

  .nav-brand {
    text-align: center;

    img {
      height: 120px;
      width: 120px;
      display: block;
      margin: 0 auto 2rem auto;
      border-radius: 100%;
    }
    a {
      color: $off-white;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    justify-content: center;
    margin-left: 1rem;

    a {
      margin-bottom: 2rem;
      padding: 0.5rem 0;
      max-width: 40px;
      overflow: hidden;
      color: $secondary;
      transition: all 500ms;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: 700;
    }

    a.active > svg,
    a:hover > svg {
      color: $secondary;
    }

    a > svg {
      width: 40px;
      color: $text-dark;
    }

    a:hover {
      max-width: 200px;
      padding: 0.5rem 20px 0.5rem 0;
      border-radius: 3px;
      color: $secondary;
      transform: translateX(-20px);
    }
  }

  hr {
    border-color: $off-white;
    margin: 20px 0 5px 0;
    width: 100%;
  }

  .footer .btn {
    width: 100%;
  }
}

#hamburgerBtn {
  display: none;
  background-color: transparent;
  border: none;
}

#hamburgerBtn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav {
    transform: translateX(-100vw);
    transition: transform 500ms;

    .nav-items {
      align-items: center;

      .nav-item {
        display: block;
        margin-bottom: 1rem;
      }
    }

    .nav-item > a {
      font-size: 1.8rem;
    }
  }

  #hamburgerBtn {
    position: fixed;
    top: 10rem;
    right: 2rem;
    display: inline-block;
    z-index: 100;
  }

  .nav.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.98;
    width: 100%;
    z-index: 10;
    transform: translateX(0);
    padding-top: 10rem;
  }
}
