@import "../sass/variables.scss";

.nav {
  background-color: $primary-dark;
  position: fixed;
  top: 0px;
  left: 0px;
  width: $navbar-width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  justify-content: space-between;
  color: $off-white;

  .nav-brand {
    text-align: center;

    img {
      height: 120px;
      width: 120px;
      display: block;
      margin: 0 auto 2rem auto;
    }
    a {
      color: $off-white;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    justify-content: center;

    a {
      color: $off-white;
      margin-bottom: 2rem;
    }
  }

  hr {
    border-color: $off-white;
    margin: 20px 0 5px 0;
    width: 100%;
  }

  .footer .btn {
    width: 100%;
  }
}

#hamburgerBtn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    transform: translateX(-100vw);
    transition: transform 500ms;

    .nav-items {
      align-items: center;

      .nav-item {
        display: block;
        margin-bottom: 1rem;
      }
    }

    .nav-item > a {
      font-size: 1.8rem;
    }
  }

  #hamburgerBtn {
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: inline-block;
    z-index: 100;
  }

  .nav.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.98;
    width: 100%;
    z-index: 10;
    transform: translateX(0);
  }
}
