@import "../sass/variables.scss";

.nav {
  background-color: $off-white;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);

  .nav-content {
    max-width: 900px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .nav-item {
      display: inline;
      margin-left: 2rem;
      color: $black;

      &:hover {
        color: $off-white;
      }

      & > .nav-btn,
      .nav-btn:visited {
        background-color: $secondary;
        padding: 1rem 2rem;
        border-radius: 5px;
        color: $off-white;
        font-size: 1.4rem;
        transition: 100ms;
      }

      & > .nav-btn:hover {
        background-color: $secondary-dark;
      }

      & > a {
        font-weight: 300;
        &.active {
          //border-bottom: 1px solid lighten($secondary, 30);
        }
      }
    }
  }
}

#hamburgerBtn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    position: static;
    height: auto;
    padding: 1rem 0;
  }

  .nav.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-grey;
    opacity: 0.98;

    .nav-content {
      justify-content: flex-start;

      .nav-items {
        align-self: stretch;
        padding-left: 0;
        margin-top: 5rem;

        .nav-item {
          margin-left: 0;
          text-align: center;
          margin-bottom: 2rem;

          a {
            text-align: center;
            font-size: 2.8rem;
            display: block;
          }
        }
      }
    }
  }

  .nav-content {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  #hamburgerBtn {
    display: inline-block;
  }

  .nav-item {
    display: block;
    margin-bottom: 1rem;
  }

  .nav-item > a {
    font-size: 1.8rem;
  }
}
