@import "variables";

#newsletter {
  display: flex;
  align-items: stretch;
  margin-top: 5rem;

  input {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  #newsletter {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    p {
      color: $off-white;
      text-align: center;
    }

    .btn {
      width: 100%;
    }
  }
}
