@import "variables";

#newsletter {
  display: flex;
  align-items: stretch;
  margin: 2rem 0 4rem 0;

  input {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  #newsletter {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    p {
      color: $off-white;
      text-align: center;
    }

    input {
      margin-bottom: 1rem;
    }

    .btn {
      width: 100%;
    }
  }
}
