@import "variables";

#navNewsletter {
  display: flex;
  flex-direction: column;

  p {
    color: $off-white;
    text-align: center;
  }

  .btn {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
}
