@import "variables";

.post-list {
  padding-left: 0;
}

.post {
  h2 > * {
    font-size: 3.2rem;
    line-height: 4.2rem;
    font-weight: 700;
    margin: 0;
    color: rgb(75, 75, 75);
    margin-top: 4rem;
  }
  .post--title {
    margin-bottom: 5px;
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .header > .youtube {
    margin-bottom: 3rem;
  }

  .post--date {
    margin-top: 0px;
    color: $text-light;
  }

  .post--link {
    margin-right: 2rem;
    font-size: 1.4rem;
  }
  blockquote {
    background: transparent;
    border-radius: 5px;
    border: 1px solid $primary;
    box-shadow: 3px 3px 1px $primary;
    // font-style: italic;
    padding: 2rem;
    margin: 4rem 0;
    font-family: poppins;
    font-size: 2rem;
    * {
      font-size: 2rem;
    }
  }

  code:not([class]) {
    background-color: $off-white;
    border-radius: 3px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .section {
    .gatsby-image-wrapper,
    .gatsby-resp-image-wrapper {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      width: 90%;
      margin: 4rem auto;
    }
  }

  pre,
  .pre {
    background-color: var(--light-grey);
    padding: 1rem;
    border-radius: 3px;
    overflow: scroll;
    font-size: 1.6rem;
    margin: 4rem 0 !important;
    & > code {
      background-color: inherit;
      font-size: 1.6rem;
    }
  }

  .post--links {
    padding-left: 0;
    list-style: none;
    display: flex;
  }

  .post--links > * {
    margin-right: 1rem;
  }
}

.post--tag {
  color: var(--brand);
  margin-right: 0px;
  border-radius: 3px;
  margin-left: 1rem;
}
@media only screen and (max-width: 768px) {
  .post {
    .post--title {
      font-size: 2.8rem;
      line-height: 3.4rem;
    }
  }
}
