@import "variables";

.post-preview {
  .post-title {
    margin-bottom: 5px;
  }

  .tag {
    background-color: $secondary;
    margin-right: 5px;
    border-radius: 3px;
    padding: 5px 10px;
    color: $off-white;
    font-size: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  .post-date {
    margin-top: 0px;
    color: $text-light;
  }
}

.post {
  .post-title {
    margin-bottom: 0px;
  }

  .post-date {
    margin-top: -5px;
    color: $text-light;
  }
  blockquote {
    background: transparent;
    border-radius: 5px;
    border: 1px solid $primary;
    box-shadow: 3px 3px 1px $primary;
    font-style: italic;
    padding: 2rem;
    margin: 4rem 0;
    font-family: poppins;

    * {
      font-size: 2rem;
    }
  }

  .tag {
    background-color: $secondary;
  }

  img {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }

  pre {
    font-size: 1.6rem;
    padding: 3rem 1rem;
    // background-color: #f4f4f4;
    // margin: 4rem 0;
  }
}
