.post {
  blockquote {
    background: #eee;
    border-radius: 5px;
    padding: 2rem;
    font-size: 1.8rem;
    box-shadow: 1px 1px 5px #ccc;
    margin: 3rem 0;
  }

  h2,
  h3,
  h4 {
    margin: 4rem 0 2rem 0;
  }
}
