@import "./variables.scss";

html {
  font-size: 10px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  color: $black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p,
a,
li {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(75, 75, 75);
  line-height: 2.7rem;
  letter-spacing: 0.12rem;
  color: $black;
}

a {
  transition: 250ms color;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: $secondary;
  text-decoration: underline;
}

h1 {
  font-size: 5.2rem;
  line-height: 8rem;
  font-weight: 700;
  margin: 0;
  color: rgb(75, 75, 75);
}

h2 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-weight: 700;
  margin: 0;
  color: rgb(75, 75, 75);
  margin-top: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
  color: rgb(75, 75, 75);
  font-weight: 500;
}

h4 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  color: rgb(75, 75, 75);
}

small {
  font-size: 1.4rem;
  line-height: 2rem;
}
.underline {
  text-decoration: underline;
}

hr {
  border-top: 1px solid #eee;
  margin-bottom: 20px;
}

ul {
  text-align: left;
}
strong {
  // color: $secondary;
  // text-transform: uppercase;
}
