@import "./variables.scss";

html {
  font-size: 10px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  margin-top: 4rem;
}

@media (max-width: 786px) {
  .header {
    margin-top: 1rem;
  }
}

p,
li {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(75, 75, 75);
  line-height: 3rem;
  letter-spacing: 0.12rem;
  color: var(--black);
}

a {
  font-size: 1.6rem;
  transition: 250ms color;
  text-decoration: none;
  color: var(--brand);
  &:hover {
    cursor: pointer;
    border-bottom: 4px solid var(--brand);
  }
}

h1 {
  font-size: 5.2rem;
  line-height: 8rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin: 0;
  margin-top: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

hr {
  border-top: 1px solid #eee;
  margin-bottom: 20px;
}

ul {
  text-align: left;
}

code {
  max-width: 100%;
  overflow: scroll;
}
