@import "./variables.scss";

html {
  font-size: 10px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p,
a,
li {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(75, 75, 75);
  line-height: 2.7rem;
  letter-spacing: 0.12rem;
  color: var(--black);
}

a {
  transition: 250ms color;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--brand);
  text-decoration: underline;
}

hr {
  border-top: 1px solid #eee;
  margin-bottom: 20px;
}

ul {
  text-align: left;
}
