$brand-colors: (
  facebook: #3b5998,
  twitter: #1da1f2,
  linkedin: #0077b5,
);

.post-social {
  display: flex;
  position: fixed;
  right: 5px;
  top: calc(100vh / 2);
  flex-direction: column;

  .button {
    transition: transform 250ms;
    margin: 0.5rem 0.25rem;
    // transition: all 300ms ease-out;
    @each $class, $color in $brand-colors {
      &.#{$class} {
        color: $color;
        border-color: $color;
        &:hover {
          cursor: pointer;
          transform: scale(1.25);
          //   background-color: $color;
          //   border-color: $color;
          //   color: #fff;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .post-social {
    display: none;
  }
}
