.social-follow {
  .social-follow-text {
    text-align: center;
    font-size: 2rem;
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;

    &:hover {
      -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    &.youtube {
      color: #eb3223;
      width: auto;
    }
    &.instagram {
      color: #eb3223;
    }

    &.facebook {
      color: #4968ad;
    }

    &.twitch {
      color: #644398;
    }

    &.twitter {
      color: #49a1eb;
    }

    &.linkedin {
      color: #3077b0;
    }
  }
}

.youtube-link {
  color: var(--youtube-color);
  text-decoration: none;
}
.youtube-link:hover {
  color: var(--youtube-color);
  border-bottom: 2px solid var(--youtube-color);
  text-decoration: none;
}

.twitch-link {
  color: var(--twitch-color);
  text-decoration: none;
}
.twitch-link:hover {
  color: var(--twitch-color);
  border-bottom: 2px solid var(--twitch-color);
  text-decoration: none;
}

.brand-link {
  color: var(--brand);
  text-decoration: none;
}
.brand-link:hover {
  color: var(--brand);
  border-bottom: 2px solid var(--brand);
  text-decoration: none;
}
