.social-follow {
  .social-follow-text {
    text-align: center;
    font-size: 2rem;
  }

  .flex > *:hover {
    transform: translateY(-2px);
    transition: 250ms;
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;

    &:hover {
      border: none;
    }
    &.youtube {
      color: #eb3223;
      width: auto;
    }
    &.instagram {
      color: #eb3223;
    }

    &.facebook {
      color: #4968ad;
    }

    &.twitch {
      color: #644398;
    }

    &.twitter {
      color: #49a1eb;
    }

    &.linkedin {
      color: #3077b0;
    }
  }
}

.social-icon {
  text-decoration: none;
  padding-right: 1rem;
  border-bottom: none;
  color: var(--black);
  &:hover {
    text-decoration: none;
    border-bottom: none;
  }
}
