@import "variables";

.h1 {
  font-size: 5.2rem;
  line-height: 8rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

.h2 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin: 0;
  margin-top: 4rem;
}

.h3 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 8px;
}
// .title-underline {
//   border-top-color: var(--brand);
//   border-top-width: 4px;
//   width: 100px;
//   margin-bottom: 4rem;
//   margin-top: -5px;
// }

.subtitle {
  font-weight: 200;
  margin-bottom: 4rem;
  margin-top: -1rem;
}

small {
  font-size: 1.4rem;
  line-height: 2rem;
}
.underline {
  text-decoration: underline;
}

strong {
  // color: var(--brand);
  // text-transform: uppercase;
}

.weight-regular {
  font-weight: 500;
}

.fancy-anchor {
  border-bottom: 4px solid var(--brand);
  position: relative;
  margin: 0 10px;
  font-size: inherit;
  &:after {
    width: 0;
    content: "";
    z-index: -1;
    transition: 250ms;
  }
  &:hover {
    color: var(--light-grey);
    border: none;
  }
  &:hover:after {
    display: block;
    position: absolute;
    top: 0;
    width: calc(100% + 10px);
    left: -5px;
    bottom: 0;
    background-color: var(--brand);
  }
}

.display1 {
  font-size: 7rem;
}

.twitch {
  color: #644398 !important;
}

.text-danger {
  color: $error;
}

.text-right {
  text-align: right;
}

.text-youtube {
  color: var(--youtube-color) !important;
}

.text-twitch {
  color: var(--twitch-color) !important;
}

@media (max-width: 786px) {
  .h1 {
    font-size: 3.2rem;
    line-height: 6rem;
  }

  .h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .h3 {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .h4 {
    font-size: 2rem;
  }
}
