@import "variables";

.container {
  max-width: 900px;
  padding: 5rem;
  margin: 50px auto 0 auto;
}

span.highlight {
  color: $secondary;
}

.text-dark {
}
.text-light {
  color: $off-white;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100vw;
}

.full-height {
  height: 100vh;
}

.full-vh {
  height: 100vh;
}
.none {
  display: none;
}

.object-position-left {
  object-position: left;
}

.hidden-sm {
  display: default;
}

.text-danger {
  color: red;
}

.text-right {
  text-align: right;
}

.img-cover {
  object-fit: cover;
}

.absolute-bottom {
  position: absolute;
  bottom: 5rem;
}

.underline {
  text-decoration: underline;
}

.title {
  margin-bottom: 8px;
  text-align: center;
}
.title-underline {
  border-top-color: #f95959;
  border-top-width: 4px;
  width: 100px;
  margin-bottom: 4rem;
}

.subtitle {
  font-style: italic;
  font-weight: 200;
  font-size: 3.2rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.loader {
  font-size: 24px;
  line-height: 24px;
}

.loader:after {
  overflow: hidden;
  display: inline-block;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
