@import "variables";

.container {
  max-width: 1000px;
  padding: 2rem 4rem;
  margin: 0 auto;
}

@media (max-width: 786px) {
  .container {
    padding: 2rem 2rem;
  }
}

.text-light {
  color: $off-white;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100vw;
}

.full-height {
  height: 100vh;
}

.full-vh {
  height: 100vh;
}
.none {
  display: none;
}

.object-position-left {
  object-position: left;
}

.img-cover {
  object-fit: cover;
}

.loader {
  font-size: 24px;
  line-height: 24px;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 2rem;
}

.accent {
  color: var(--brand);
}

.loader:after {
  overflow: hidden;
  display: inline-block;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image-gallery {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 1rem;
  & > a:hover {
    border: none;
    transition: 250ms;
    transform: translateY(-2px);
  }

  & > a > img {
    width: 100%;
  }
}

// @media (max-width: 786px) {
//   .image-gallery {
//     display: block;
//   }
// }
