/****Colors****/
$primary: #2a2f38;
$primary-dark: #252a32;
$primary-light: #3b424f;

$secondary: #de5456;
$secondary-dark: #d24b4e;
$secondary-light: hsl(359, 68%, 65%);

$light-grey: #eaeaea;
$off-white: rgb(240, 240, 240);

$black: #212529;

$navbar-width: 220px;

$error: #dc3545;
$text-light: #4c4d4f;
$text-dark: #343a40;
$text-warning: #ffc107;
$text-success: #28a745;

// Social Colors
$twitch: #644398;
