/****Colors****/
$primary: #2a2f38;
$primary-dark: #252a32;
$primary-light: #3b424f;

$secondary: #de5254;
$secondary-dark: #d9383a;
$secondary-light: #e16365;

$light-grey: #eaeaea;
$off-white: #fafafa;

$black: #2b2b2b;
