---
import { Image } from "astro:assets";
import { render } from "astro:content";

export interface Props {
  testimonial: any;
  isShort?: boolean;
}

const { testimonial, isShort = false } = Astro.props;
const {
  data: { name, title, image, shortQuote },
} = testimonial;
const { Content } = await render(testimonial);
---

<div class="bg-bgLight rounded-xl p-6 md:p-7 border border-white/10 h-full">
  <div class={`${isShort ? "text-base leading-7" : "tracking-wider text-xl leading-8"} relative opacity-90 mb-8`}>
    {!isShort && <Content />}
    {isShort && shortQuote}
  </div>
  <div class="flex flex-row items-center gap-4">
    <Image
      src={image}
      width={260}
      height={260}
      class="rounded-full h-16 w-16"
      format={"webp"}
      alt={`headshot of ${name}`}
    />
    <div>
      <h3 class="text-lg opacity-80 text-brand font-bold">{name}</h3>
      <h4 class="text-sm font-light opacity-80">{title}</h4>
    </div>
  </div>
</div>
