---
import { CollectionEntry, render } from "astro:content";
import { Icon } from "astro-icon/components";
import TalkLayout from "../../layouts/TalkLayout.astro";
import { getEntryStaticPaths } from "src/utils/contentPaths";

export const prerender = true;

export async function getStaticPaths() {
  return getEntryStaticPaths("talk");
}

export interface Props {
  entry: CollectionEntry<"talk">;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<TalkLayout frontmatter={entry.data}>
  {
    entry.data.slidesLink && (
      <a href={entry.data.slidesLink} class="cursor-pointer no-underline">
        <span>Slides</span>
        <Icon
          class="inline h-6 w-6 hover:text-brand cursor-pointer"
          name="mdi:download"
        />
      </a>
    )
  }
  <Content />
</TalkLayout>
