---
import BaseLayout from "src/layouts/BaseLayout.astro";
import Section from "@components/Section.astro";
import PageHeader from "@components/PageHeader.astro";
---

<BaseLayout title="Selfies | James Q Quick">
  <Section>
    <PageHeader
      title={"JQQ Selfies"}
      subtitle={"Selfies with developers I've met around the world!"}
    />

    <p class="text-center text-lg text-gray-400">
      Selfies coming back soon! This page is being updated.
    </p>
  </Section>
</BaseLayout>
