@media screen and (max-width: 1024px) {
  body[data-menu-open] {
    overflow-y: hidden;
  }
}

a {
  @apply hover:text-brand  transition-all;
}

p {
  font-family: "Satoshi";
  @apply tracking-wider font-light;
}

h1 p {
  font-family: "Satoshi";
}

html {
  scroll-behavior: smooth;
}
