---
import Section from "@components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionHeader from "@components/SectionHeader.astro";
---

<BaseLayout>
    <Section>
        <SectionHeader
            title="404"
            subtitle="The page you are looking for does not exist"
            variant="secondary"
        />
    </Section>
</BaseLayout>
