---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getSortedBlogPosts } from "../utils/contentCollections";
import Pagination from "../components/Pagination.astro";
import LinkCardList from "../components/LinkCardList.astro";
import Section from "../components/Section.astro";

const posts = (await getSortedBlogPosts()).slice(0, 10);
export const prerender = true;
---

<BaseLayout title="Blog | James Q Quick">
    <Section hasYPadding={false}>
    <h1 class="text-6xl text-brand font-bold mb-10">Blog</h1>
      <div
        class="flex lg:flex-row flex-col gap-8 justify-between items-center mb-16"
      >
      </div>
      <LinkCardList posts={posts} />
      <Pagination
        next={"/blog/2"}
        prev={undefined}
        currentPage={1}
        lastPage={2}
      />
  </SectionHeader>
</BaseLayout>
