---
import { getCollection } from "astro:content";
import LinkCard from "../components/LinkCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getSortedCourses } from "../utils/blog";

const courses = await getSortedCourses();
---

<BaseLayout title="Courses | James Q Quick">
  <h1 class="text-6xl text-brand font-bold mb-10">Courses</h1>
  <div class="flex flex-col gap-10">
    {
      courses.map((post) => (
        <LinkCard
          title={post.data.title}
          date={post.data.pubDate}
          slug={`/courses/${post.slug}`}
          btnText="Learn More"
        />
      ))
    }
  </div>
</BaseLayout>
