---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import compressedLogo from "../images/compressed.jpeg";
import LogoCallout from "../components/LogoCallout.astro";
import lbtLogo from "../images/lbt-square.png";
import youtubeLogo from "../images/socials/youtube.png"
import Divider from "../components/Divider.astro";
---

<BaseLayout>
    <Hero />
    <Divider yMargin={false} classStr="mb-40"/>
    <section>
        <div class="mx-auto mt-20 rounded-xl">
            <div class="flex flex-col gap-20 mb-40">
                <LogoCallout heading="Compressed.fm Podcast" body="Amy Dutton and I co-host the Compressed.fm podcast, a weekly podcast about Web Development and Design with a little bit of zest." link="https://compressed.fm/" alt="Compressed.fm logo" logoSrc={compressedLogo.src} btnText="Listen!" />
                
                <LogoCallout heading="YouTube"
                body=  "With over 100k subscribers, I teach modern Web Development with JavaScript through weekly YouTube videos!"
                link="https://www.youtube.com/c/jamesqquick"
                alt="YouTube logo" logoSrc={youtubeLogo} btnText="Watch!"/>
                
            <LogoCallout heading="Learn Build Teach"
            body="A welcoming and open Discord community of Web Developers."
            alt="Learn Build Teach logo"
            link="https://learnbuildteach.com/" logoSrc={lbtLogo.src} btnText="Join Us!"/>
        </div>
    </div>
    </section>
    
</BaseLayout>
