---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkExperience from "../components/WorkExperience.astro";
import SocialCallout from "../components/SocialCallout.astro";
import BlogCallout from "../components/BlogCallout.astro";
import AboutCallout from "../components/AboutCallout.astro";
import SpeakingCallout from "../components/SpeakingCallout.astro";
import CoursesCallout from "../components/CoursesCallout.astro";
import Button, { ButtonType } from "../components/Button.astro";
import Link from "../components/Link.astro";

export const prerender = true;
---

<BaseLayout>
  <Hero
    title={`Hi, I'm James!`}
    tagline={"I teach and inspire developers around the world."}
  >
    <div class="flex flex-col gap-y-4 sm:flex-row gap-x-4 my-8">
      <Button
        text="Get to know me"
        href="/about"
        isLink
        type={ButtonType.SECONDARY}
      />
      <Button
        text="Work with me"
        href="/speaking"
        isLink
        type={ButtonType.PRIMARY}
      />
    </div>
  </Hero>
  <SocialCallout />
  <AboutCallout>
    <div>
      <p class="mb-4 text-lg">
        With over 10 years of experience teaching students, my passion for
        teaching developers has led me to full-time Technical Content Creation.
      </p><p class="mb-4 text-lg">
        I believe in work-life balance, personal happiness, and empowering
        others to take control of their career. My personal philosophy of "Learn
        Build Teach" has blossomed into a growing <Link
          href="https://learnbuildteach.com/"
          text="Discord community"
        /> of aspiring and established developers focused on helping each other succeed.
      </p>
      <p class="mb-4 text-lg">
        I also co-host a weekly podcast about web design and development called
        <Link href="https://compressed.fm/" text="Compressed.fm" /> and publish weekly
        <Link
          href="https://www.youtube.com/c/jamesqquick"
          text="Youtube videos"
        />.
      </p>
      <Button
        href="/about"
        classStr="mt-8"
        isLink={true}
        text="Learn more about me"
        type={ButtonType.SECONDARY}
      />
    </div>
  </AboutCallout>
  <WorkExperience />
  <CoursesCallout />
  <SpeakingCallout />
  <!-- <BlogCallout /> -->
</BaseLayout>
