---
import StreamingLayout from "../../../layouts/StreamingLayout.astro";
import { XataClient } from "../../../xata";
import VideoFrame, { VideoFrameSize } from "../VideoFrame.astro";

const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH,
});
let settings = await xata.db.settings.getFirst();
const { guestName, guestTitle } = settings;
---

<StreamingLayout title="JQQ Streams">
  <div class="absolute inset-0 bg-interviewing -z-10"></div>
  <div class="flex gap-x-[40px] translate-y-[12px]">
    <VideoFrame
      size={VideoFrameSize.VXL}
      header="James Q Quick"
      subheader="Developer. Speaker. Teacher."
    />
    <VideoFrame
      size={VideoFrameSize.VXL}
      header={guestName}
      subheader={guestTitle}
    />
  </div>
</StreamingLayout>
