---
import StreamingLayout from "../../../layouts/StreamingLayout.astro";
import VideoFrame, { VideoFrameSize } from "../VideoFrame.astro";
---

<StreamingLayout title="JQQ Streams">
  <div class="absolute inset-0 bg-interviewing -z-10"></div>
  <div class="flex gap-x-20 translate-y-0.5">
    <VideoFrame
      size={VideoFrameSize.LG}
      header="James Q Quick"
      subheader="Developer. Speaker. Teacher."
    />
    <VideoFrame size={VideoFrameSize.LG} />
  </div>
</StreamingLayout>
