---
import StreamingLayout from "../../../layouts/StreamingLayout.astro";
import VideoFrame, { VideoFrameSize } from "../VideoFrame.astro";
---

<StreamingLayout title="JQQ Streams">
  <div class="absolute inset-0 bg-interviewing -z-10"></div>
  <div class="flex gap-x-[40px] translate-y-[12px]">
    <VideoFrame
      size={VideoFrameSize.VXL}
      header="James Q Quick"
      subheader="Developer. Speaker. Teacher."
    />
    <VideoFrame size={VideoFrameSize.VXL} />
  </div>
</StreamingLayout>
