---
import { XMLParser } from "fast-xml-parser";
const response = await fetch("https://www.compressed.fm/rss.xml");
const data = await response.text();
const parser = new XMLParser();
let jObj = parser.parse(data);
const lastEpisode = jObj.rss.channel.item[0];
const {
  title: compressedTitle,
  description: compressedDescription,
  link: compressedLink,
} = lastEpisode;
---

<h1>Recent Videos</h1>
<br />

<h1>TikTok of the Week</h1>
<p>Describe the TikTok</p>
<p><a href="">Watch the full video</a></p>
<br />

<h1>Content From the #LearnBuildTeach Community</h1>
<p>
  <em><strong>Learn Build Teach</strong></em> is a personal philosophy and community.
  Here's the latest content from our <a href="https://learnbuildteach.com/"
    >Discord community</a
  >.
</p>
<br />
<p>
  Want to share your work and learn from others? <a
    href="https://discord.gg/vM2bagU">Join the community</a
  >
</p>
<br />

<h1>Latest Episode of Compressed.fm - {compressedTitle}</h1>
<p>{compressedDescription}</p>
<p><a href={compressedLink}>Listen to the full episode</a></p>
<br />
<h1>Want to Stay Connected?</h1>
<ul>
  <li>
    Follow me on <a href="https://twitter.com/jamesqquick">Twitter</a> and <a
      href="https://www.tiktok.com/@jamesqquick">TikTok</a
    >
  </li>
  <li>
    Join the <a href="https://learnbuildteach.com/">Learn Build Teach Discord</a
    >
  </li>
  <li>
    Subscribe to my <a href="https://www.youtube.com/c/jamesqquick"
      >YouTube Channel</a
    >
  </li>
</ul>
