---
export interface Props {
    size?:number,
    yMargin?:boolean,
    classStr?: string
}
const {size = 2, yMargin = true, classStr=''} = Astro.props;
---
<div class={`h-[${size}px] -mx-[50%] bg-white ${yMargin && "my-40"} ${classStr}`}></div>
