---
import HLineText from "./HLineText.astro";
import RecentTalks from "./RecentTalks.astro";
import Section from "./Section.astro";
import SectionHeader from "./SectionHeader.astro";
import YouTube from "./YouTube.astro";

const title = "Featured";
const subtitle = `Some of my favorite talks`;
---

<Section isLight={true}>
  <SectionHeader title={title} subtitle={subtitle} />
  <div class="pb-16 -mb-60 md:-mb-80">
    <YouTube id="DajdLKD0OmQ" classStr="rounded-2xl " />
  </div>
</Section>
