---
import Section from "./Section.astro";
import YouTube from "./YouTube.astro";
import SectionHeader from "./SectionHeader.astro";

const title = "Talks";
const subtitle = `Some of my favorite talks!`;
---

<Section isLight={false}>
  <SectionHeader title={title} subtitle={subtitle} variant="secondary"/>
  <div class="pb-16 -mb-60 md:-mb-80">
    <YouTube id="DajdLKD0OmQ" classStr="rounded-2xl " />
  </div>
</Section>
