---
import Link from "./Link.astro";
import SocialFollow from "./SocialFollow.astro";

const today = new Date();
---

<footer
  class="text-sm text-center w-full max-w-4xl mx-auto mt-40 pb-10 px-4 flex flex-col items-center gap-2"
>
  <SocialFollow includeHandle={true} />
  <div class="flex flex-col md:flex-row gap-4 mt-4">
    <div>
      Built with{" "}
      <strong>
        <Link href="https://astro.build/" text="Astro" classStr="text-lg" />
      </strong>
    </div>
    <div>
      Styling with{" "}
      <strong>
        <Link
          href="https://tailwindcss.com/"
          text="Tailwind CSS"
          classStr="text-lg"
        />
      </strong>
    </div>
    <div>
      Hosted on{" "}
      <strong>
        <Link href="https://netlify.com/" text="Netlify" classStr="text-lg" />
      </strong>
    </div>
  </div>
</footer>
