---
import selfie from "../images/selfie.png";
import { Image } from "astro:assets";

export interface Props {
  title: string;
  tagline: string;
  hasImage?: boolean;
  description?: string;
  hasFullHeight?: boolean;
}

const {
  title,
  tagline,
  hasImage = true,
  description,
  hasFullHeight = true,
} = Astro.props as Props;
---

<div class="max-w-8xl mx-auto px-4 md:px-10 pt-10">
  <div
    class={`gap-4 gap-x-0  flex flex-col xl:items-end xl:flex-row relative ${
      hasFullHeight ? "xl:h-[calc(100vh-240px)] sm:pb-0" : "py-20"
    } max-w-7xl mx-auto`}
  >
    <div class="relative self-center xl:mb-80 mr-0 xl:-mr-[100px] max-w-3xl">
      <h1 class="text-2xl mb-4 text-brand">
        {title}
        <span
          class="text-4xl block text-white md:text-6xl xl:mb-8 font-bold leading-[60px] md:leading-[80px] mb-2"
          aria-label="James Q Quick - developer, speaker, and teacher."
        >
          {tagline}
        </span>
      </h1>
      {description && <p class="opacity-80 text-lg">{description}</p>}
      <slot />
    </div>
    {
      hasImage && (
        <Image
          src={selfie}
          height={1080 / 2}
          width={1920 / 2}
          class="md:-mt-20 xl:mt-0 w-full xl:w-[700px] max-w-[600px] xl:max-w-[700px] mx-auto xl:absolute right-0"
          alt="James Q Quick selfie"
          format="webp"
          loading="eager"
        />
      )
    }
    {!hasImage && <div class="w-1/2" />}
  </div>
</div>
