---
import selfie from "../images/selfie.png";
import logo from "../images/logo.svg";
import { Picture } from "@astrojs/image/components";
import SocialFollow from "./SocialFollow.astro";
import Divider from "./Divider.astro";
---
<script>
    let nouns = ["Developer.", "Speaker.", "Teacher."];
    let noun = nouns[0];
    let nounIndex = 0;
    const typewriterText = document.querySelector('.typewriter');
    typewriterText.innerHTML = noun;
setInterval(() => {
    nounIndex = (nounIndex + 1) % nouns.length;
    noun = nouns[nounIndex];
        typewriterText.innerHTML = noun;
}, 6000)
</script>
<div class=" px-8 -mt-10 mx-0 xl:-mx-20">
    <div class="max-w-6xl mx-auto items-start justify-center gap-4 h-[calc(100vh-180px)]  flex flex-col relative ">
        <div class="xl:max-w-xl max-w-lg relative -translate-y-40 md:-translate-y-40 ">
            <h1 class="xl:text-8xl text-4xl md:text-6xl  mb-8 font-bold">I'm a <span class="text-brand block typewriter"></span></h1>
            <p class="text-xl md:text-2xl mb-5 md:max-w-sm lg:max-w-6xl">I use Content Creation to teach and inspire the Developer Community.</p>
            <SocialFollow />
        </div>
        <img src={logo} class="absolute md:block hidden  right-0 lg:-right-20 -top-20 h-screen  -z-10 opacity-70 max-w-4xl" />
        <Picture src={selfie} sizes="(max-width:800px) 100vw, 800px" widths={[400, 800, 1600]} aspectRatio="1:1" class="absolute  bottom-0 right-0 lg:translate-x xl:translate-x-20 xl:max-w-[800px] lg:max-w-[700px] md:max-w-[600px]"/>
    </div>
</div>

<style>
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange;
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 6s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0 }
  5% { width: 0 }
  30% { width: 100% }
  60% { width: 100% }
  95% { width: 0 }
  100% { width: 0 }
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
</style>