---
import { CollectionEntry } from "astro:content";
import LinkCard from "./LinkCard.astro";

export interface Props {
  items: {
    id: string;
    title: string;
    date: Date;
    image: {
      src: string;
      width: number;
      height: number;
      format: "avif" | "png" | "webp" | "jpeg" | "jpg" | "svg" | "tiff" | "gif";
    };
    description?: string;
    tags?: string[];
    link: string;
  }[];
  includeDescription?: boolean;
}

const { items, includeDescription } = Astro.props;
---

<div class="grid gap-16 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 mb-16">
  {
    items.map((item) => (
      <LinkCard
        title={item.title}
        date={item.date}
        slug={item.link}
        tag={item?.tags ? item.tags[0] : undefined}
        image={item.image}
        description={includeDescription ? item.description : undefined}
      />
    ))
  }
</div>
