<nav class="flex gap-5 justify-center">
  <a href="/blog" class="text-xl hover:text-brand transition-colors">BLOG</a>
  <a href="/newsletter" class="text-xl hover:text-brand transition-colors"
    >NEWSLETTER</a
  >
</nav>
