---
import { Icon } from "astro-icon/components";
import Logo from "../images/logo.astro";
---

<nav
  class="lg:px-20 px-1 sm:px-5 sm:py-5 py-20 flex flex-row gap-5 justify-center sm:justify-between items-center sm:items-center w-screen z-10 h-[100px] bg-transparent"
>
  <a
    href="/"
    class="text-white hover:text-brand h-5 sm:h-10"
    aria-label="home page"
  >
    <!-- <NameLogo /> -->
    <Logo classStr="fill-white h-16 w-16 mb-10" />
  </a>
  <button
    id="hamburger"
    aria-label="menu"
    aria-controls="mobileMenu"
    class="absolute sm:relative right-4 top-2"
  >
    <Icon
      class="inline lg:hidden h-10 w-10 hover:text-brand cursor-pointer"
      name="mdi:menu"
    />
  </button>
  <div
    id="mobileMenu"
    class="fixed lg:flex items-center justify-center lg:relative inset-0 bg-bg hidden py-5 md:py-20 lg:py-0 overflow-auto z-10"
  >
    <div
      class="flex flex-col lg:flex-row gap-10 lg:gap-5 font-light text-center lg:text-left text-2xl lg:text-xl"
    >
      <button id="close">
        <Icon
          class="inline lg:hidden h-10 w-10 hover:text-brand cursor-pointer mb-10"
          name="mdi:close"
        />
      </button>

      <a href="/about/" class="hover:text-brand transition-colors">about</a>
      <a href="/blog/" class="hover:text-brand transition-colors">blog</a>
      <a href="/speaking/" class="hover:text-brand transition-colors"
        >speaking</a
      >
      <a href="/courses/" class="hover:text-brand transition-colors">courses</a>
      <a href="/uses" class="hover:text-brand transition-colors">uses</a>
    </div>
  </div>
</nav>
<script>
  const hamburger = document.getElementById("hamburger");
  const close = document.getElementById("close");
  hamburger.addEventListener("click", () => {
    const mobileMenu = document.getElementById("mobileMenu");
    mobileMenu.classList.remove("hidden");
    document.body.dataset.menuOpen = "true";
  });

  close.addEventListener("click", () => {
    const mobileMenu = document.getElementById("mobileMenu");
    mobileMenu.classList.add("hidden");
    delete document.body.dataset.menuOpen;
  });
</script>
