---
import PodiaNewsletter from "./PodiaNewsletter.svelte";
---

<div class="">
  <h2 class="text-2xl lg:text-3xl font-bold mb-4">My Newsletter</h2>
  <p class="tracking-wide text-lg lg:text-xl font-light mb-6">
    A weekly newsletter filled with personal updates, recent content, and
    general Web Development announcements.
  </p>
  <PodiaNewsletter newsletterId={"65004"} client:visible />
</div>
