---
import PodiaNewsletter from "./PodiaNewsletter.svelte";
---

<div class="mx-auto mt-20">
  <h2 class="text-4xl md:text-6xl font-light mb-6">My Weekly Newsletter</h2>
  <p class="tracking-wide text-lg lg:text-xl leading-10 font-light mb-8">
    A weekly newsletter filled with personal updates, recent content, and
    general Web Development announcements to inspire you to Learn, Build, and
    Teach.
  </p>
  <PodiaNewsletter newsletterId={"65004"} client:visible />
</div>
