---
import Section from "./Section.astro";
import SectionHeader from "./SectionHeader.astro";
---

<Section isLight={true}>
    <SectionHeader
        title="Next Talk"
        subtitle="Find out where I'll be speaking next"
        variant="secondary"
    />
  <div
    class="flex sm:flex-row flex-col max-w-xl mx-auto justify-between items-center gap-y-8 text-center"
  >
    <div>
      <p class="text-xl">When</p>
      <p class="opacity-60">June 25th, 2025</p>
    </div>
    <div class="w-8 sm:w-[2px] h-[2px] sm:h-8 bg-gray-400 opacity-40"></div>
    <div class="flex">
      <!-- <Image src={render} alt="Render Atlanta Logo" /> -->
      <div class="flex flex-col justify-center">
        <h3 class="text-xl">
          <a
            href="https://vercel.com/ship"
            target="_blank"
            class="block"
            rel="noopener noreferrer">Vercel SHIP</a
          >
        </h3>
        <p class="opacity-60">NYC, NY</p>
      </div>
    </div>
    <div class="w-8 sm:w-[2px] h-[2px] sm:h-8 bg-gray-400 opacity-40"></div>

    <a href="https://refactorconf.com/" class="underline underline-offset-4"
      >Tickets/info</a
    >
  </div>
</Section>
