---
import Section from "./Section.astro";
import YouTube from "./YouTube.astro";

const subtitle = "Recent talks";
const description = `Check out some of my recent talks where I discuss developing your career as a web developer and some of the latest frameworks and tools I’ve enjoyed using`;
---

<Section subtitle={subtitle} description={description} isLight={true}>
  <YouTube id="DajdLKD0OmQ" classStr="rounded-2xl -mb-80" />
</Section>
