---
export interface Props {
  title?: string;
  subtitle?: string;
  description?: string;
  isLight?: boolean;
  classStr?: string;
  hasYPadding?: boolean;
  hasMaxWidth?: boolean;
  isHeader?: boolean;
}

const {
  title,
  subtitle,
  description,
  isLight = false,
  classStr,
  hasYPadding = true,
  hasMaxWidth = true,
  isHeader = false,
} = Astro.props as Props;
---

<section
  class={`px-8 ${hasYPadding ? "py-20" : ""} ${isLight ? "bg-bgLight" : ""} ${
    classStr ? classStr : ""
  }`}
>
  <div class={`${hasMaxWidth ? "max-w-6xl" : ""} mx-auto`}>
    <slot />
  </div>
</section>
