---
import CenteredSectionHeading from "./CenteredSectionHeading.astro";
import H2 from "./H2.astro";

interface Props {
  title: string;
  subtitle?: string;
  description?: string;
  variant?: "primary" | "secondary";
}
const { title, variant = "primary", subtitle, description } = Astro.props as Props;
---
{variant === "primary" && (
  <div class="flex items-center gap-x-10 mb-20">
    <H2 text={title} classStr="shrink-0" />
    <div class="h-[0.5px] w-full grow-2 bg-border opacity-50" />
    <slot name="cta" />
  </div>
)}

{variant === "secondary" && (
  <CenteredSectionHeading title={title} subtitle={subtitle} description={description} />
)}
