---
export interface Props {
  isLight?: boolean;
  classStr?: string;
  hasYPadding?: boolean;
  hasMaxWidth?: boolean;
  id?: string;
}

const {
  isLight = false,
  classStr,
  hasYPadding = true,
  hasMaxWidth = true,
  id,
} = Astro.props as Props;
---

<section
  id={id}
  class={`px-8 ${hasYPadding ? "py-20 md:py-40" : ""} ${isLight ? "bg-bgLight" : ""} ${
    classStr ? classStr : ""
  }`}
>
  <div class={`${hasMaxWidth ? "max-w-6xl" : ""} mx-auto`}>
    <slot />
  </div>
</section>
