---
import { Picture } from "@astrojs/image/components";
import Button from "./Button.astro";
import Section from "./Section.astro";
import SpeakerForm from "./speaking/SpeakerForm.svelte";
import selfie from "../images/selfie-lg.jpeg";
---

<Section hasYPadding={false} classStr="pb-20">
  <div class="grid lg:grid-cols-2 grid-cols-1 gap-10">
    <div>
      <p class="mb-2 text-4xl leading-[50px] font-bold">
        Want me to speak at your event?
      </p>
      <p class="text-xl opacity-80 mb-12">
        I’d be honored to! Please fill out the speaker form to initiate the
        process and let's make it happen
      </p>
      <h2
        class="mb-2 block text-brand text-2xl text-light tracking-widest uppercase font-bold"
      >
        You might need
      </h2>
      <div class="mb-10">
        <p class="text-lg underline underline-offset-4 mb-4">Speaker Bio</p>
        <p>
          James is a JavaScript Developer, Speaker, and Teacher with a passion
          for teaching developers through content. He is a full-time Technical
          Content Creator with years of experience in Software Development and
          Developer Advocacy. In his spare time, he runs a YouTube channel,
          plays co-ed soccer with his wife, spends time with his dogs, and can
          solve a Rubik's cube in under a minute.
        </p>
      </div>
      <Picture
        src={selfie}
        alt="Selfie of James Q Quick"
        sizes="(max-width:800px) 100vw, 800px"
        widths={[400]}
        aspectRatio="1:1"
        class="mb-4 rounded-lg h-48 w-48"
      />
      <a href="/images/selfie-square.jpeg" class="underline underline-offset-4"
        >Download headshot</a
      >
    </div>
    <SpeakerForm client:load />
  </div>
</Section>
