---
import Section from "./Section.astro";
import SpeakerForm from "./speaking/SpeakerForm.svelte";
import selfie from "../images/selfie-lg.jpeg";
import { Image } from "astro:assets";
import Link from "./Link.astro";
---

<Section
  hasYPadding={false}
  hasMaxWidth={false}
  classStr="pb-20"
>
  <div class="grid lg:grid-cols-2 grid-cols-1 gap-10">
    <div>
      <p class="opacity-80 mb-10">
        Please first read through my <Link
          text="Speaker Rider"
          isFancy={true}
          href="/speaking/rider"
          classStr="font-bold"
        />first to make sure it's a good fit. Then, fill out the speaker form to
        initiate the process and let's make it happen.
      </p>

      <h2
        class="mb-2 block text-brand text-2xl text-light tracking-widest uppercase font-bold"
      >
        You might need
      </h2>
      <div class="mb-10">
        <p class="text-lg underline underline-offset-4 mb-4">Speaker Bio</p>
        <p>
            James is a developer, keynote speaker, and teacher whose work has impacted thousands of developers across the world. James has over 10 years of Software Development and Developer Advocacy experience, and is currently serving as Head of Developer Experience at BigCommerce. In his spare time, he enjoys traveling and playing co-ed soccer with his wife, chasing around their toddler, and solving a Rubik's cube in under a minute.
        </p>
      </div>
      <Image
        src={selfie}
        alt="Selfie of James Q Quick"
        width={426}
        height={284}
        format="webp"
        class="mb-4 rounded-lg"
      />
      <a href="/images/selfie-square.jpeg" class="underline underline-offset-4"
        >Download headshot</a
      >
    </div>
    <SpeakerForm client:load />
  </div>
</Section>
