---
import Section from "./Section.astro";
import SpeakerForm from "./speaking/SpeakerForm.svelte";
import selfie from "../images/selfie-lg.jpeg";
import { Image } from "astro:assets";
import Link from "./Link.astro";
---

<Section
  title="Invite Me"
  subtitle="Want me to Speak at your event?"
  hasYPadding={false}
  hasMaxWidth={false}
  classStr="pb-20"
>
  <div class="grid lg:grid-cols-2 grid-cols-1 gap-10">
    <div>
      <p class="opacity-80 mb-10">
        Please first read through my <Link
          text="Speaker Rider"
          isFancy={true}
          href="/speaking/rider"
          classStr="font-bold"
        />first to make sure it's a good fit. Then, fill out the speaker form to
        initiate the process and let's make it happen.
      </p>

      <h2
        class="mb-2 block text-brand text-2xl text-light tracking-widest uppercase font-bold"
      >
        You might need
      </h2>
      <div class="mb-10">
        <p class="text-lg underline underline-offset-4 mb-4">Speaker Bio</p>
        <p>
          James is a JS Developer, Keynote Speaker, and Content Creator whose
          passion for teaching has impacted hundreds of thousands of developers
          across the world. With 10+ years of Software Development and Developer
          Advocacy experience, he brings deep technical knowledge as well as a
          proven ability to communicate across levels of understanding and
          experience to impact a broad audience of developers. In his spare
          time, he runs a thriving Discord community called Learn Build Teach,
          plays co-ed soccer with his wife, and can solve a Rubik's cube in
          under a minute.
        </p>
      </div>
      <Image
        src={selfie}
        alt="Selfie of James Q Quick"
        width={426}
        height={284}
        format="webp"
        class="mb-4 rounded-lg"
      />
      <a href="/images/selfie-square.jpeg" class="underline underline-offset-4"
        >Download headshot</a
      >
    </div>
    <SpeakerForm client:load />
  </div>
</Section>
