---
import Section from "./Section.astro";

export interface Props {
  tone?: "base" | "elevated";
  paddingY?: "none" | "half" | "compact" | "default" | "spacious" | "xl";
  classStr?: string;
  contentClassStr?: string;
}

const { tone, paddingY, classStr, contentClassStr } = Astro.props as Props;
---

<Section tone={tone} paddingY={paddingY} classStr={classStr}>
  <div class={`grid grid-cols-1 md:grid-cols-2 gap-8 items-center ${contentClassStr || ""}`}>
    <div>
        <slot name="left" />
    </div>
    <div>
      <slot name="right" />
    </div>
  </div>
</Section>
