---
export interface Props {
    id: string;
}

const { id } = Astro.props;
---

<div
    class="relative h-0 overflow-hidden max-w-full w-full"
    style={{ paddingBottom: "56.25%" }}
>
    <iframe
        title={id}
        src={`https://www.youtube-nocookie.com/embed/${id}`}
        frame-border="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="absolute top-0 left-0 w-full h-full"></iframe>
</div>
