---
import StreamingLayout from "../../layouts/StreamingLayout.astro";
import StreamingTextCallout from "./StreamingTextCallout.astro";

const text = Astro.url.searchParams.get("text")! || "James is Cool!";
---

<StreamingLayout title="JQQ Streams">
  <div class="flex flex-col items-center justify-center h-full">
    <StreamingTextCallout header={text} />
  </div>
</StreamingLayout>
