---
import NameLogo, { NameLogoSize } from "../../components/NameLogo.astro";
import Logo from "../../images/logo.astro";

interface Props {
  header: string;
}

const { header } = Astro.props;
---

<div class="flex flex-col gap-y-10 items-center">
  <div class="flex gap-x-8 items-center"></div>
  <h1 class="text-9xl font-bold uppercase text-brand">{header}</h1>
</div>
