---
import BaseHead from "../components/BaseHead.astro";
import Divider from "../components/Divider.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import NewsletterSection from "../components/NewsletterSection.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  bottomDivider?: boolean;
}

const { title, description, image, bottomDivider = true } = Astro.props;
console.log(bottomDivider);
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={image}
    />
  </head>
  <body class="bg-bg text-white overflow-x-hidden">
    <div class="flex flex-col min-h-screen">
      <Navbar/>
      <div class="mx-auto grow w-full">
        <main class="max-w-[1200px] mx-auto mt-10 px-4 md:px-10">
          <slot />
          {bottomDivider &&
              <Divider/>
            }
          <NewsletterSection/>
        </main>
      </div>
      <Footer />
    </div>
  </body>
</html>
