---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import TopCallout from "../components/TopCallout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  bottomDivider?: boolean;
}

const { title, description, image, bottomDivider = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={image}
    />
  </head>
  <body class="bg-bg text-white">
    <TopCallout
      text="Learn to build websites using Astro 4.0, the all-in-one framework for the modern web."
      link="https://astrocourse.dev/"
      linkText="Start Learning!"
    />
    <div class="flex flex-col min-h-screen overflow-x-hidden">
      <header>
        <Navbar />
      </header>
      <div class="mx-auto grow w-full">
        <main class="">
          <slot />
        </main>
      </div>
      <Footer />
    </div>
  </body>
</html>
