---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
  };
}

const {
  frontmatter: { title, description },
} = Astro.props as Props;
---

<BaseLayout title={title} description={description}>
  <main class="max-w-6xl mx-auto px-8">
    <article class="ds-prose">
      <h1>{title}</h1>
      <slot />
    </article>
  </main>
</BaseLayout>
