---
import { XataClient } from "src/xata";
import StreamingLayout from "../../../layouts/StreamingLayout.astro";
import VideoFrame, { VideoFrameSize } from "../VideoFrame.astro";

const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH,
});
let settings = await xata.db.settings.getFirst();

interface Props {
  header: string;
}

const { header } = Astro.props;
---

<StreamingLayout title="JQQ Streams">
  <div class="absolute inset-0 bg-talking -z-10"></div>
  <div class="-translate-y-1">
    <VideoFrame size={VideoFrameSize.XL} />
  </div>
</StreamingLayout>
