---
import Hero from "@components/Hero.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Hero
    title={`Overlays Admin!`}
    tagline={"Let's Make Streaming So Much Fun!"}
    hasImage={false}
    hasFullHeight={false}
  />
  <main class="max-w-6xl mx-auto px-8">
    <p>Overlay admin is currently disabled.</p>
  </main>
</BaseLayout>
